
{{'section-custom-grid-images.css' |  asset_url |  stylesheet_tag}}

{% style %}
    .padding-{{section.id}} {
        padding-top: {{section.settings.padding_top | divided_by: 2}}px;
        padding-bottom: {{section.settings.padding_bottom | divided_by: 2}}px;
    }

    @media screen and (min-width:750px){
        .padding-{{section.id}} {
            padding-top: {{section.settings.padding_top}}px;
            padding-bottom: {{section.settings.padding_bottom}}px;
        }
    }
{% endstyle %}


<div class="custom-grid-images padding-{{ section.id }}">
    <div class="page-width">
        <div class="grid grid--1-col grid--2-col-desktop">
            {% for block in section.blocks %}
                <div class="grid__item custom-grid-images__grid-item-container">
                    {% if block.settings.desktop_image != blank %}
                    <div class="custom-grid-images__grid-image-container {% if section.settings.grid_display == "square" %} custom-grid-images__grid-item-square {% endif %}">
                            {%  render 'responsive-picture',
                                mobileImage: block.settings.mobile_image,
                                desktopImage: block.settings.desktop_image
                            %}
                        </div>
                    {% else %}
                        <div>
                            {{'hero-apparel-1' |  placeholder_svg_tag}}
                        </div>
                    {% endif %}
                    <div class="custom-grid-images__grid-content-container">
                        <div class="custom-grid-images__content-wraper {{block.settings.text_alignment}}">
                            <ul class="custom-grid-images__grid-pre-text-list">
                                <li class="custom-grid-images__grid-pre-text">{{block.settings.pre_text}}</li>
                            </ul>
                            <h3 class="custom-grid-images__grid-heading h2">{{block.settings.title}}</h3>
                            {% render 'custom-color-hovering-button',
                                sectionId:{{section.id}},
                                textColor: "#000000",
                                hoverTextColor: "#d03c3f",
                                backgroundColor: "#ffffff",
                                hoverColor: "#f5f5f5", 
                                buttonLink: {{block.settings.button_url}},
                                buttonText: {{block.settings.button_text}}
                            %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




{% schema %}
{
    "name": "Custom grid images",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "select",
            "id": "grid_display",
            "label": "Display grid images as",
            "info": "Applicable for large screens",
            "default": "landscape",
            "options": [
                {
                    "label": "Landscape",
                    "value": "landscape"
                },
                {
                    "label": "Square",
                    "value": "square"
                }
            ]
        },
        {
            "type": "header",
            "content": "Section padding details"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        }
    ],
    "blocks": [
        {
            "name": "Image grid",
            "type": "image_grid",
            "settings": [
                {
                    "type": "header",
                    "content": "Grid image details"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "Image (Mobile)"
                },
                {
                    "type": "image_picker",
                    "id": "desktop_image",
                    "label": "Image (Desktop)"
                },
                {
                    "type": "header",
                    "content": "Grid content details"
                },
                {
                    "type": "text",
                    "id": "pre_text",
                    "label": "Pre text",
                    "default": "Pre text"
                },
                {
                    "type": "richtext",
                    "id": "title",
                    "label": "Title",
                    "default": "<p>Title</p>"
                },
                {
                    "type": "select",
                    "id": "text_alignment",
                    "label": "Text alignment",
                    "default": "text-left",
                    "options": [
                        {
                            "label": "Left",
                            "value": "text-left"
                        },
                        {
                            "label": "Center",
                            "value": "text-center"
                        },
                        {
                            "label": "Right",
                            "value": "text-end"
                        }
                        
                    ]
                },
                {
                    "type": "header",
                    "content": "Slide button details"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "Button text"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button link",
                    "default": "/collections"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom grid images"
        }
    ]
}
{% endschema %}