
{{ "section-custom-hero-banner.css" | asset_url | stylesheet_tag }}


{% style %}
    .padding-{{section.id}} {
        padding-top: {{section.settings.padding_top}}px;
        padding-bottom: {{section.settings.padding_bottom}}px;
    }
{% endstyle %}

{% capture  options %}
    {
        "autoplay": {{ section.settings.enable_autoplay }},
        "pagination": {{ section.settings.enable_dots }},
        "arrows": {{ section.settings.enable_arrows }},
        "type": "{{ section.settings.slide_animation }}",
        "rewind":{{ section.settings.rewind_slides }}
    }
{% endcapture %}


<div class="custom-hero-banner padding-{{section.id}}">
    <div class="page-width">
        <div class="custom-hero-banner__splider">
            <custom-splide-carousel data-options='{{options}}'>
                <div class="splide" aria-label="Slideshow">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for block in section.blocks %}
                                <li class="splide__slide">
                                    {% if block.settings.desktop_image != blank %}
                                        <div class="custom-hero-banner__image-container">
                                            {%  render 'responsive-picture',
                                                mobileImage: block.settings.mobile_image,
                                                desktopImage: block.settings.desktop_image
                                            %}
                                        </div>
                                    {% else %}
                                        <div>
                                            {{'hero-apparel-1' |  placeholder_svg_tag}}
                                        </div>
                                    {% endif %}
                                    <div class="custom-hero-banner__content-container {{block.settings.content_alignment}}">
                                        <div class="custom-hero-banner__content {{block.settings.text_alignment}}">
                                            <ul class="custom-hero-banner__list">
                                                <li class="custom-hero-banner__list-item">{{block.settings.sub_text}}</li>
                                            </ul>
                                            <h2 class="custom-hero-banner__title custom-hover-text h1">{{block.settings.title}}</h2>
                                            {% render 'custom-color-hovering-button',
                                                class: "custom-hero-banner__custom-button"
                                                sectionId:{{section.id}},
                                                textColor: "#000000",
                                                hoverTextColor: "#d03c3f",
                                                backgroundColor: "#ffffff",
                                                hoverColor: "#f5f5f5", 
                                                buttonLink: {{block.settings.button_url}},
                                                buttonText: {{block.settings.button_text}}
                                            %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </custom-splide-carousel>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Custom hero banner",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Slideshow options"
        },
        {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_dots",
            "label": "Enable dots",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "rewind_slides",
            "label": "Enable rewind",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_arrows",
            "label": "Enable arrows",
            "default": true
        },
        {
            "type": "select",
            "id": "slide_animation",
            "label": "Slider animation",
            "options": [
                {
                    "value": "fade",
                    "label": "Fade"
                },
                {
                    "value": "loop",
                    "label": "Loop"
                },
                {
                    "value": "slide",
                    "label": "Slide"
                }
            ],
            "default": "loop"
        },
        {
            "type": "header",
            "content": "Section padding details"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 20
        }
    ],
    "blocks": [
        {
            "name": "Slide content",
            "type": "slide-content",
            "settings": [
                {
                    "type": "header",
                    "content": "Slide image details"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "Image (Mobile)"
                },
                {
                    "type": "image_picker",
                    "id": "desktop_image",
                    "label": "Image (Desktop)"
                },
                {
                    "type": "header",
                    "content": "Slide content details"
                },
                {
                    "type": "text",
                    "id": "sub_text",
                    "label": "Sub text",
                    "default": "Sub text"
                },
                {
                    "type": "richtext",
                    "id": "title",
                    "label": "Title",
                    "default": "<p>Title</p>"
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "Content alignment",
                    "default": "justify-center align-center",
                    "options": [
                        {
                            "label": "Top left",
                            "value": "justify-start align-start"
                        },
                        {
                            "label": "Top center",
                            "value": "justify-start align-center"
                        },
                        {
                            "label": "Top right",
                            "value": "justify-start align-end"
                        },
                        {
                            "label": "Middle left",
                            "value": "justify-center align-start"
                        },
                        {
                            "label": "Middle center",
                            "value": "justify-center align-center"
                        },
                        {
                            "label": "Middle right",
                            "value": "justify-center align-end"
                        },
                        {
                            "label": "Bottom left",
                            "value": "justify-end align-start"
                        },
                        {
                            "label": "Bottom center",
                            "value": "justify-end align-center"
                        },
                        {
                            "label": "Bottom right",
                            "value": "justify-end align-end"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_alignment",
                    "label": "Text alignment",
                    "default": "text-left",
                    "options": [
                        {
                            "label": "Left",
                            "value": "text-left"
                        },
                        {
                            "label": "Center",
                            "value": "text-center"
                        },
                        {
                            "label": "Right",
                            "value": "text-end"
                        }
                        
                    ]
                },
                {
                    "type": "header",
                    "content": "Slide button details"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "Button text"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Button color",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "button_text_color",
                    "label": "Button background color",
                    "default": "#000000"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button link",
                    "default": "/collections"
                }
            ]   
        }
    ],
    "presets": [
        {
            "name": "Custom hero banner"
        }
    ]
}
{% endschema %}